/* have to get the background colour code from webgradients website */
body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.col-md-6{
    border: 7px solid black !important ;
    margin-top: 150px !important;
    padding: 20px;
}
button{
    margin: 20px !important;
    border: 3px solid black !important;
}
h1{
    color: whitesmoke;
    font-weight: bolder !important;
    margin: 20px !important;
}